{% extends 'municipal/base.html' %}
{# Province-Wide EMS shell: same Sneat layout as the city EMS, with the provincial menu. #}
{% block brand_url %}{% url 'prov_dashboard' %}{% endblock %}
{% block brand_badge %}<i class="fa-solid fa-landmark" style="font-size:0.62rem;"></i> Provincial{% endblock %}

{% block level_menu %}
<li class="menu-item {% block nav_prov_select %}{% endblock %}">
  <a href="{% url 'prov_select' %}" class="menu-link"><i class="menu-icon tf-icons bx bx-map"></i><div class="text-truncate">Change Province</div></a>
</li>

<li class="menu-header small text-uppercase"><span class="menu-header-text">Provincial Administrator</span></li>
<li class="menu-item {% block nav_prov_dash %}{% endblock %}">
  <a href="{% url 'prov_dashboard' %}" class="menu-link"><i class="menu-icon tf-icons bx bx-line-chart"></i><div class="text-truncate">Provincial Analytics</div></a>
</li>
<li class="menu-item {% block nav_prov_ai %}{% endblock %}">
  <a href="{% url 'prov_ai_analytics' %}" class="menu-link"><i class="menu-icon tf-icons bx bx-bot"></i><div class="text-truncate">AI Analytics</div></a>
</li>
<li class="menu-item {% block nav_prov_heat %}{% endblock %}">
  <a href="{% url 'prov_heat_map' %}" class="menu-link"><i class="menu-icon tf-icons bx bx-map-alt"></i><div class="text-truncate">Heat Map</div></a>
</li>

<li class="menu-header small text-uppercase"><span class="menu-header-text">EMS</span></li>
<li class="menu-item {% block nav_prov_voters %}{% endblock %}">
  <a href="{% url 'prov_voters' %}" class="menu-link"><i class="menu-icon tf-icons bx bx-user"></i><div class="text-truncate">Voters List</div></a>
</li>
<li class="menu-item {% block nav_prov_cards %}{% endblock %}">
  <a href="{% url 'prov_cards' %}" class="menu-link"><i class="menu-icon tf-icons bx bx-id-card"></i><div class="text-truncate">Smart Card Holders</div></a>
</li>
<li class="menu-item {% block nav_prov_social %}{% endblock %}">
  <a href="{% url 'prov_social' %}" class="menu-link"><i class="menu-icon tf-icons bx bx-donate-heart"></i><div class="text-truncate">Social Services</div></a>
</li>
<li class="menu-item {% block nav_prov_qc %}{% endblock %}">
  <a href="{% url 'prov_quick_count' %}" class="menu-link"><i class="menu-icon tf-icons bx bx-broadcast"></i><div class="text-truncate">Quick Count</div></a>
</li>

<li class="menu-header small text-uppercase"><span class="menu-header-text">Audit</span></li>
<li class="menu-item {% block nav_prov_tx %}{% endblock %}">
  <a href="{% url 'prov_transactions' %}" class="menu-link"><i class="menu-icon tf-icons bx bx-list-check"></i><div class="text-truncate">Transaction List</div></a>
</li>
{% endblock %}

{% block scope_pill %}{% if ps %}<span class="city-pill"><i class="fa-solid fa-landmark"></i> {{ ps.province_name }}{% if ps.region %} · {{ ps.region }}{% endif %}</span>
<span class="meta-divider"></span>{% endif %}{% endblock %}
